<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.ui.test.cases.TestCase015"/>
      <class name="com.ui.test.cases.TestCase016"/>
      <class name="com.ui.test.cases.TestCase013"/>
      <class name="com.ui.test.cases.TestCase014"/>
      <class name="com.ui.test.cases.TestCase019"/>
      <class name="com.ui.test.cases.TestCase017"/>
      <class name="com.ui.test.cases.TestCase018"/>
      <class name="com.ui.test.cases.TestCase011"/>
      <class name="com.ui.test.cases.TestCase012"/>
      <class name="com.ui.test.cases.TestCase010"/>
      <class name="com.ui.test.cases.TestCase004"/>
      <class name="com.ui.test.cases.TestCase026"/>
      <class name="com.ui.test.cases.TestCase005"/>
      <class name="com.ui.test.cases.TestCase002"/>
      <class name="com.ui.test.cases.TestCase024"/>
      <class name="com.ui.test.cases.TestCase003"/>
      <class name="com.ui.test.cases.TestCase025"/>
      <class name="com.ui.test.cases.TestCase008"/>
      <class name="com.ui.test.cases.TestCase009"/>
      <class name="com.ui.test.cases.TestCase006"/>
      <class name="com.ui.test.cases.TestCase007"/>
      <class name="com.ui.test.cases.TestCase022"/>
      <class name="com.ui.test.cases.TestCase001"/>
      <class name="com.ui.test.cases.TestCase023"/>
      <class name="com.ui.test.cases.TestCase020"/>
      <class name="com.ui.test.cases.TestCase021"/>
      <class name="com.ui.test.cases.TestAnnotation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
